<!DOCTYPE html>
<html>
    <header>
        <title> Boozify </title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="/static/css/web.css">
    </header>

    <script>
        var seedString;
        function SelectQueryType(clicked_id){
            document.getElementsByClassName("chooseOne")[0].innerHTML = clicked_id;
            document.getElementsByClassName("searchQuery")[0].disabled = false;
            seedString = clicked_id;
        }

        function SearchInput(){
            document.getElementById("power_hour").disabled = false;
        }

        function MakePowerHour() {
            fetch("/get-link", {
                method: "POST",
                headers: new Headers({
                    "content-type": "application/json"
                }),
                body: JSON.stringify({
                    "seed": seedString,
                    "search": document.getElementById('search').value,
                })
            })
            .then(function(response) {
                console.log(response);
                response.json().then(function(data) {
                    document.getElementById("player").src = data['link'];
                });
            });
        }
    </script>



    <body style="background-color:darkslategrey">
        <div class="logo">
            <img class="boozify_logo" src="/static/images/logo2.png" width="400">
        </div>
        <div class="search">
            <div class="dropdown">
                <button class="chooseOne"> (Choose One)  </button>
                <div class="options">
                    <a id="Artist" href="#" onclick="SelectQueryType(this.id)">Artist</a>
                    <a id="Genre" href="#" onclick="SelectQueryType(this.id)">Genre</a>
                </div>
                
            </div>
            <div class="searchbar">
                <form>
                    <input class="searchQuery" type="text" id="search" disabled oninput="SearchInput()">
                </form>
            </div>
           
        </div>
        
        <div class="activate">
                <button id="power_hour" disabled onclick="MakePowerHour()">Make me a Power Hour!</button>
        </div>

        <div class="video" >
            <iframe 
            id="player"
            src="" frameborder="0" gesture="media"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </div>
    </body>
</html>
<!---->