<!DOCTYPE html>
<html>
    <header>
        <title>Boozify</title>
        <link rel="icon" type="image/png" src="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/web.css">
    </header>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script >
        var seedString;

        var player;
        var start = 0;
        var end = start + 10;
      function onYouTubeIframeAPIReady() {
          console.log("hello world");
          /*
        player = new YT.Player('player', {
          height: '390',
          width: '640',
         // videoId: 'M7lc1UVf-VE',
          playerVars: {
              autoplay: 1,
              start: start,
              end: end,
              controls: 0,
              disablekb: 1,
              fs: 1
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        */
       // document.getElementById("player").style
      }

      // 4. The API will call this function when the video player is ready.
      //function onPlayerReady(event) {
        //event.target.playVideo();
      //}

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      //var done = false;
      //var id;
      var id_list = new Array();
      id_list.push("smqNtBXN5Mc");
      id_list.push("1KGCAffvGIw");
      id_list.push("ZAxRozTgoXM");
      var song_num = 0;
      var wait = false;
      var event_trigger = 1;
      var first_played = false;
      function onPlayerStateChange(event) {
       // if (event.data == YT.PlayerState.PLAYING && !done) {
         // setTimeout(stopVideo, 6000);
          //done = true;
        //}
        //check if there are more videos in the list
        //if there are then move to the next one
       // if (event.data == YT.PlayerState.)
       if (event.data != YT.PlayerState.PLAYING && first_played){
            console.log("beer image");
        }
        console.log("player state: ", event.data);
        if (event.data == YT.PlayerState.PLAYING && first_played == false){
            first_played = true;
        }

        if (event.data == YT.PlayerState.ENDED && wait == false){
            if (event_trigger == 0){
              event_trigger = 1;
              console.log("double fire");
              return;
          }
          else {
              console.log(id_list.length, " big boy");
              console.log("first fire");
              event_trigger = 0;
          }
           // wait = true;
            if (song_num >= id_list.length) {
                console.log("end player");
                console.log(song_num);
                player.destroy();
            }
            //loads and plays next video
            //player.loadVideoById(id);
            console.log("player ended");
            player.loadVideoById({videoId:id_list[song_num], endSeconds:10});
            song_num += 1;
            console.log(song_num);
            wait = false;
            //player.cueVideoById(videoId:id, startSeconds:0, endSeconds:Number)
        }
      }
      function stopVideo() {
        player.stopVideo();
      }


        function SelectQueryType(clicked_id){
            document.getElementsByClassName("chooseOne")[0].innerHTML = clicked_id;
            document.getElementsByClassName("searchQuery")[0].disabled = false;
            seedString = clicked_id;
        }

        function SearchInput(){
            document.getElementById("power_hour").disabled = false;
        }
        
        function MakePowerHour() {
            /*
            fetch("/get-link", {
                method: "POST",
                headers: new Headers({
                    "content-type": "application/json"
                }),
                body: JSON.stringify({
                    "seed": seedString,
                    "search": document.getElementById('search').value,
                })
            })
            .then(function(response) {
                console.log(response);
                response.json().then( data => {//function(data) {
                    console.log(data);
                    for (song_id  of data.ids) {
                        console.log(song_id);
                        id_list.push(song_id);
                    }*/
                    if (id_list.length > 0) {
                        console.log(id_list);
                        
                        player = new YT.Player('player', {
                            height: '100%',
                            width: '100%',
                            videoId: id_list[0],
                            // videoId: 'M7lc1UVf-VE',
                            playerVars: {
                                start: start,
                                end: end,
                                controls: 0,
                                disablekb: 1,
                                fs: 1
                            },
                            events: {
                                //'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange
                            }
                        });
                        song_num += 1;
                        //player.cueVideoById({videoId:id_list[song_num], endSeconds:60, "medium"});
                        
                        //document.getElementById("player").style.display = "flex";
                       // document.getElementById("deactivate").disabled = false;
                    }
                    //document.getElementById("player").src = data['link'];
               // });
            //})
            //.catch(console.error);
            //if id_list is not empty then load the youtube player
            
        }
        function DestroyPowerHour() {
           // document.getElementById("deactivate").disabled = true;
            player.destroy();
            id_list = new Array();
            song_num = 0;
        }
    </script>

    <body style="background-color:darkslategrey">
        <div class="logo">
            <img class="boozify_logo" src="/static/images/logo2.png" width="400">
        </div>
        <div class="search">
            <div class="dropdown">
                <button class="chooseOne"> (Choose One)  </button>
                <div class="options">
                    <a id="Artist" href="#" onclick="SelectQueryType(this.id)">Artist</a>
                    <a id="Genre" href="#" onclick="SelectQueryType(this.id)">Genre</a>
                    <a id="Playlist" href="#" onclick="SelectQueryType(this.id)">Playlist</a>
                </div>
            </div>
            <div class="searchbar">
                <form>
                    <input class="searchQuery" type="text" id="search" disabled oninput="SearchInput()">
                </form>
            </div>
        </div>
        <div class="activate">
                <button id="power_hour" disabled onclick="MakePowerHour()">Make me a Power Hour!</button>
        </div>
        <div class="video">
            
            <div id="player"></div>

        </div>
        
       

        <script>
            /*
            <img class="beer" src="/static/images/beer.jpg" disabled>
             <div class="deactivate">
            <button id="end_power_hour" disabled onclick="DestroyPowerHour()">Destroy Power Hour/retry power hour</button>
        </div>
            <div class="video">
                <iframe 
                    id="player"
                    src="" frameborder="0" gesture="media"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            */
        </script>
    </body>
</html>
