<!DOCTYPE html>
<html>
    <header>
        <title>Boozify</title>
        <link rel="icon" type="image/png" src="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/web.css">
    </header>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../static/js/main.js">

        /*
        function Move(){
            var seedString = document.getElementsByClassName("chooseOne")[0].innerHTML;
            //assert that value is not empty
            var searchQuery = document.getElementById("search").value;
            if (searchQuery == ""){
                alert("Please Enter a valid " + seedString + " in the search bar");
            }
            else{
                sessionStorage.setItem("seedString", seedString);
                sessionStorage.setItem("searchQuery", searchQuery);
            }
            window.location = '/powerhour';
        }
        */
    </script>

    <body style="background-color:darkslategrey">
        <div class="logo">
            <img class="boozify_logo" src="/static/images/logo2.png" width="400">
        </div>
        <div class="search">
            <div class="dropdown">
                <button class="chooseOne"> (Choose One)  </button>
                <div class="options">
                    <a id="Artist" href="#" onclick="SelectQueryType(this.id)">Artist</a>
                    <a id="Genre" href="#" onclick="SelectQueryType(this.id)">Genre</a>
                    <a id="Playlist" href="#" onclick="SelectQueryType(this.id)">Playlist</a>
                </div>
            </div>
            <div class="searchbar">
                <form>
                    <input class="searchQuery" type="text" id="search" disabled oninput="SearchInput()">
                </form>
            </div>
        </div>
        <div class="activate">
                <button id="power_hour" disabled onclick="MakePowerHour()">Make me a Power Hour!</button>
        </div>
        <div class="progressbar">
            <label hidden id="loading_label" for="generating">Generating Power Hour: &nbsp;</label>
            <progress hidden id="loading" value="0" max="60"> 0% </progress>
        </div>
    </body>
</html>
